
/resources
/node_modules
/nodemonw.exe
/app.js
/public/js/reload_with_collector.js
/monServer.cmd
/public/debug.css
/monServer.cmd
/public/debug.css
/public/normalize.css
/public/reload_with_collector.js