/* TODO: Don't forget to w3c me */
/* Font faces */
@font-face {
  font-family: 'KomikaTitle-PaintRegular';
  src: url('fonts/KomikaTitle-Paint-webfont.eot');
  src: url('fonts/KomikaTitle-Paint-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/KomikaTitle-Paint-webfont.woff') format('woff'),
       url('fonts/KomikaTitle-Paint-webfont.ttf') format('truetype'),
       url('fonts/KomikaTitle-Paint-webfont.svg#KomikaTitle-PaintRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DigitaldreamFatRegular';
  src: url('fonts/DIGITALDREAMFAT-webfont.eot');
  src: url('fonts/DIGITALDREAMFAT-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/DIGITALDREAMFAT-webfont.woff') format('woff'),
       url('fonts/DIGITALDREAMFAT-webfont.ttf') format('truetype'),
       url('fonts/DIGITALDREAMFAT-webfont.svg#DigitaldreamFatRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* General theming */
h1, h2, h3, p, div {
  margin: 0;
  padding: 0;
}

* {
  font-family: Open Sans, sans-serif;
  color: #FFF;
}

input, select {
  color: #000;
}

/* Specific groupings */

/* Main content */
#topContent,
#obstaclesContent,
#prizesContent,
#contestantContent,
#footerContent {
  max-width: 940px;
  /* TODO: Deal with IE6 width issue */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

/* Komika text */
#topSection h2,
#obstaclesSection h2,
#obstaclesButtons button,
#obstaclesDescription h3,
#obstaclesDescription h4,
#prizesSection h2,
#prizesSection figcaption,
#contestantSection h2,
/*#contestantSection*/ #submitEntry,
#contestantSection figcaption {
  font-family: KomikaTitle-PaintRegular, sans-serif;
}

/* Digital Dream text */
/*#contestantSection*/ #contestantTimer {
  font-family: DigitaldreamFatRegular, monospace, sans-serif;
}

/* Blue background */
body {
  /* TODO: Incorporate noise to background */
  background: #80C1D6;
}

/* Green background */
#obstaclesButtons button,
#prizesSection,
#contestantSection button {
  /* TODO: Add noise */
  background: #80B238;
}

/* Orange background */
#obstaclesSection {
  /* TODO: Add noise */
  background: #FE6638;
}

/* Yellow background */
/* TODO: Bind to inputs currently being edited */
#obstaclesButtons button:hover {
  background: #EEF13F;
}

/* Orange font */
#topSection h2,
/* TODO: IE Hover */
#obstaclesButtons button:hover {
  color: #FE6537;
}

/* OOCSS size1of2 */
/*#obstacleSection*/ #obstaclesButtons,
#prizesSection .prizeColumn,
#contestantSection form,
/*#footerSection*/ #notAffiliated,
/*#footerSection*/ #caAddress {
  width: 50%;
}

/* OOCSS unit */
/*#obstacleSection*/ #obstaclesButtons,
#prizesSection .prizeColumn,
#contestantSection form,
/*#footerSection*/ #notAffiliated,
/*#footerSection*/ #caAddress {
/* TODO: Add media query for Prizes */
  float: left;
}

/* OOCSS lastUnit */
/*#obstacleSection*/ #obstaclesDescription,
#prizesSection #lastPrizeColumn,
#contestantSection aside,
/*#footerSection*/ #contestantConsent,
/*#footerSection*/ #flAddress { /* TODO: Media query for contestant section */
  float: none;
  width: auto;
  _position: relative;
  _left: -3px;
  _margin-right: -3px;
}

/* Clearfix */
#obstaclesContent:after,
#prizesContent:after,
#contestantContent:after {
  content: " ";
  clear: both;
  display: block;
  visibility: hidden;
}

/* Specific classes */

/* navBar specific */
#navBar {
  position: fixed;
  top: 0;
  width: 100%;
  /* TODO: Should text-align center be a property of this or all nav? */
  text-align: center;

  /* TODO: Opacity off of scroll, but opaque on scroll */
  background: #79b9ce;
/*
  /* Fallback for browsers without RGBa support *
  background-color: rgb(15, 40, 48);
  background-color: rgba(15, 40, 48, 0.05);
  /* For IE 5.5 - 7*
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0F28300C, endColorstr=#0F28300C);
  /* For IE 8*
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0F28300C, endColorstr=#0F28300C)";
*/
  color: #000;

  /* TODO: Should this really be done here? */
  text-transform: uppercase;
}

#navBar a {
  color: #FFF;
  text-decoration: none;
  margin: 0 1.74em;
}

/* TODO: Deal with IE hover */
#navBar a:hover {
  text-decoration: underline;
}

/* topSection specific */
#topSection #topContent {
  text-align: center;
}

#topSection h2 {
  /* TODO: Somehow get this to be more accurate */
  font-size: 2.8em;
  letter-spacing: .1em;
  /* TODO: Support IE6 */
  text-shadow: #FFF 1.74px 2.44px;
}

#topSection h3 {
  font-size: 1.4em;
}

/* obstaclesSection specific */
#obstaclesSection {
  border-width: 7px 0;
  border-style: solid;
  border-color: rgb(237, 88, 48);
  border-color: rgba(0, 0, 0, 0.06);
}

#obstaclesSection h2 {
  color: #FEFEFE;
  /* TODO: Come back and touch up font-size */
  font-size: 1.7em;
  text-shadow: rgb(203, 82, 45) 2.90px 4.07px;
  text-shadow: rgba(0, 0, 0, 0.2) 2.90px 4.07px;
}

#obstaclesButtons button {
  width: 220px;
  height: 220px;
  margin-bottom: 20px;
  border: 0px;
  /* TODO: Multi-browser me */
  border-radius: 5px;
}

/*#obstaclesButtons*/ #theTank,
/*#obstaclesButtons*/ #humanHamsterWheel,
/*#obstaclesButtons*/ #pickIt {
  margin-right: 20px;
}

/*#obstaclesSection*/ #obstaclesDescription {
  text-align: center;
  /* TODO: Text-rototation */
}

/* prizesSection specific */
#prizesSection .prizeColumn {
  /* TODO: Border */
  text-align: center;
}

/* contestantSection specific */
#contestantSection fieldset {
  border: 0;
  padding: 0 8em 0 0;
  margin: 0;
}

#contestantSection input,
#contestantSection select {
  width: 100%;
  /* TODO: Deal with IE6 */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#contestantSection #teamColor {
  width: 58%;
}

#contestantSection #gender {
  display: block;
  float: right;
  width: 40%;
}

/*#contestantSection*/ #submitEntry {
  margin: 0 auto;
  display: block;
}

#contestantSection input,
#contestantSection button {
  /* TODO: Overlay and style with JS */
  /* http://ryanfait.com/resources/custom-checkboxes-and-radio-buttons/ */
}

#contestantSection aside {
  text-align: center;
}

/* footerSection specific */
#footerSection {
  text-align: center;
}

/*#footerSection*/ #notAffiliated,
/*#footerSection*/ #caAddress {
  text-align: right;
  margin-left: -1em;
  margin-right: 2em;
}

#footerSection address {
  font-style: normal;
}

/*#footerSection*/ #contestantConsent,
/*#footerSection*/ #flAddress {
  text-align: left;
}

#footerSection cite {
  font-style: normal;
}

#footerSection a:link {
  text-decoration: none;
}

/* Media queries */
@media (max-width: 470px) {
  /* Obstacle section */
  #obstaclesButtons {
    width: 100%;
    float: none;
  }

  #obstaclesDescription {
    display: none;
  }

  /* TODO: Prizes */

  /* Contestant section */
  #contestantSection #teamColor,
  #contestantSection #gender {
    width: 100%;
    display: block;
    float: none;
  }

  #contestantSection form {
    width: 100%;
  }
  
  #contestantSection fieldset {
    padding: 0;
  }

  #contestantSection aside {
    display: none;
  }

  /* TODO: Footer */
}

/* TODO: Remove me (debug things) */
.mainContent {
  /* outline: 2px solid #0F0; */
}