/* TODO: Don't forget to w3c me */
/* Font faces */
@font-face {
  font-family: 'KomikaTitle-PaintRegular';
  src: url('fonts/KomikaTitle-Paint-webfont.eot');
  src: url('fonts/KomikaTitle-Paint-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/KomikaTitle-Paint-webfont.woff') format('woff'),
       url('fonts/KomikaTitle-Paint-webfont.ttf') format('truetype'),
       url('fonts/KomikaTitle-Paint-webfont.svg#KomikaTitle-PaintRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DigitaldreamFatRegular';
  src: url('fonts/DIGITALDREAMFAT-webfont.eot');
  src: url('fonts/DIGITALDREAMFAT-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/DIGITALDREAMFAT-webfont.woff') format('woff'),
       url('fonts/DIGITALDREAMFAT-webfont.ttf') format('truetype'),
       url('fonts/DIGITALDREAMFAT-webfont.svg#DigitaldreamFatRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* General theming */
* {
  font-family: Open Sans, sans-serif;
  color: #FFF;
}

input, select {
  color: #000;
}

/* Specific groupings */

/* Main content */
#topSection,
#obstaclesSection header,
#obstaclesSection article,
#prizesSection header,
#prizesSection article,
#contestantSection header,
#contestantSection article,
#footerSection {
  max-width: 940px;
  /* TODO: Deal with IE6 width issue */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

/* Komika text */
#topSection h2,
#obstaclesSection h2,
#obstaclesButtons figcaption,
#obstaclesDescription h3,
#obstaclesDescription h4,
#prizesSection h2,
#prizesSection figcaption,
#contestantSection h2,
/*#contestantSection*/ #submitEntry,
#contestantSection figcaption {
  font-family: KomikaTitle-PaintRegular, sans-serif;
}

/* Digital Dream text */
/*#contestantSection*/ #contestantTimer {
  font-family: DigitaldreamFatRegular, monospace, sans-serif;
}

/* Blue background */
body {
  /* TODO: Incorporate noise to background */
  background: url('images/blue_texture.png') left top repeat,
              url('images/blue_splat.png') center -207px no-repeat,
              #80C1D6;
}

/* Green background */
#obstaclesButtons li,
#prizesSection,
#contestantSection button {
  background: url('images/green_texture.png'), #80B238;
}

/* Orange background */
#obstaclesSection {
  /* TODO: Add noise */
  background: url('images/orange_texture.png'), #FE6638;
}

/* Yellow background */
/* TODO: Bind to inputs currently being edited */
#obstaclesButtons li:hover,
#obstaclesButtons .featuredObstacle {
  background: url('images/yellow_texture.png'), #EEF13F;
}

/* Orange font */
#topSection h2,
/* TODO: IE Hover */
#obstaclesButtons li:hover figcaption,
#obstaclesButtons .featuredObstacle figcaption {
  color: #FE6537;
}

/* OOCSS size1of2 */
/*#obstacleSection*/ #obstaclesButtons,
#prizesSection .prizeColumn,
#contestantSection form,
/*#footerSection*/ #notAffiliated,
/*#footerSection*/ #caAddress {
  width: 50%;
}

/* OOCSS unit */
/*#obstacleSection*/ #obstaclesButtons,
#prizesSection .prizeColumn,
#contestantSection form,
/*#footerSection*/ #notAffiliated,
/*#footerSection*/ #caAddress {
/* TODO: Add media query for Prizes */
  float: left;
}

/* OOCSS lastUnit */
/*#obstacleSection*/ #obstaclesDescription,
#prizesSection #lastPrizeColumn,
#contestantSection aside,
/*#footerSection*/ #contestantConsent,
/*#footerSection*/ #flAddress { /* TODO: Media query for contestant section */
  float: none;
  width: auto;
  _position: relative;
  _left: -3px;
  _margin-right: -3px;
}

/* Clearfix */
#obstaclesSection article:after,
#prizesSection article:after,
#contestantSection article:after {
  content: " ";
  clear: both;
  display: block;
  visibility: hidden;
}

/* Specific classes */

/* navBar specific */
#navBar {
  position: fixed;
  top: 0;
  width: 100%;
  /* TODO: Should text-align center be a property of this or all nav? */
  text-align: center;

  /* TODO: Opacity off of scroll, but opaque on scroll */
  background: #79b9ce;
  z-index: 1000;
/*
  /* Fallback for browsers without RGBa support *
  background-color: rgb(15, 40, 48);
  background-color: rgba(15, 40, 48, 0.05);
  /* For IE 5.5 - 7*
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0F28300C, endColorstr=#0F28300C);
  /* For IE 8*
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0F28300C, endColorstr=#0F28300C)";
*/
  color: #000;

  /* TODO: Should this really be done here? */
  text-transform: uppercase;
}

#navBar a {
  color: #FFF;
  text-decoration: none;
  margin: 0 1.74em;
}

/* TODO: Deal with IE hover */
#navBar a:hover {
  text-decoration: underline;
}

#navBar,
#navBarPlaceholder {
  line-height: 2em;
}

/* topSection specific */
#topSection {
  text-align: center;
  padding-bottom: 9em;
}

#topSection h1 {
  background: url('images/green_splat.png') center top no-repeat;
  height: 426px;
  width: 560px;
  margin: 0 auto;
  padding: 0;
}

#topSection h1 img {
  margin-top: 100px;
  margin-left: -36px;
}

#topSection h2 {
  /* TODO: Somehow get this to be more accurate */
  font-size: 2.8em;
  letter-spacing: .1em;
  /* TODO: Support IE6 */
  text-shadow: #FFF 1.74px 2.44px;
  margin-top: 40px;
}

#topSection h3 {
  font-size: 1.4em;
  margin-top: 12px;
}

/* obstaclesSection specific */
#obstaclesSection {
  border-width: 7px 0;
  border-style: solid;
  border-color: rgb(237, 88, 48);
  border-color: rgba(0, 0, 0, 0.06);
  padding-bottom: 66px;
}

#obstaclesSection h2 {
  color: #FEFEFE;
  font-size: 40px;
  text-shadow: rgb(203, 82, 45) 2.90px 4.07px;
  text-shadow: rgba(0, 0, 0, 0.2) 2.90px 4.07px;
  background: url('images/obstacles_checkerboard.png') top right no-repeat;
  margin: 44px 0 57px;
}

#obstaclesButtons li {
  height: 220px;
  width: 220px;
  margin-bottom: 16px;
  border: 0px;
  /* TODO: Multi-browser me */
  border-radius: 5px;

  display: block;
  float: left;

  cursor: pointer;
  text-align: center;

  position: relative;
  z-index: 10;
}

/*#obstaclesButtons*/ #theTank,
/*#obstaclesButtons*/ #humanHamsterWheel,
/*#obstaclesButtons*/ #pickIt {
  margin-right: 16px;
}

/* TODO: Try to do this better? */
#theTank img {
  height: 152px;
  margin-top: 23px;
}

#sundaeSlide img {
  height: 168px;
  margin-top: 13px;
}

#humanHamsterWheel img {
  height: 164px;
  margin-top: 10px;
}

#downTheHatch img {
  height: 161px;
  margin-top: 15px;
}

#pickIt img {
  height: 161px;
  margin-top: 14px;
}

#theWringer img {
  height: 164px;
  margin-top: 16px;
}

#obstaclesButtons figcaption {
  position: absolute;
  bottom: 16px;
  width: 100%;
}

/*#obstaclesSection*/ #obstaclesDescription {
  text-align: center;
  /* TODO: Text-drop shadow */
  position: relative;
  height: 692px; /* 220 * 3 + 16 * 2 */
}

#obstaclesDescription figcaption {
  background: url('images/green_splat.png') top center no-repeat;
  background-size: 236px 206px;
  height: 210px;
  width: 393px;
  margin-left: auto;
  margin-right: 24px;
}

#obstaclesDescription h3,
#obstaclesDescription h4 {
  -webkit-transform: rotate(-7deg);
  -moz-transform:    rotate(-7deg);
  -ms-transform:     rotate(-7deg);
  -o-transform:      rotate(-7deg);
  /* TODO: Text shadow */
}

#obstaclesDescription h3 {
  font-size: 2.2em;
  padding-top: 2em;
  padding-bottom: .5em;
}

#obstaclesDescription img {
  width: 360px;
  position: absolute;
  bottom: 0;
  right: 40px;
}

/* prizesSection specific */
#prizesSection .prizeColumn {
  /* TODO: Border */
  text-align: center;
}

/* contestantSection specific */
#contestantSection fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  width: 380px;
}

#contestantSection input,
#contestantSection select {
  width: 100%;
  /* TODO: Deal with IE6 */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#contestantSection #teamColor {
  width: 220px;
}

#contestantSection #gender {
  display: block;
  float: right;
  width: 140px;
}

/*#contestantSection*/ #submitEntry {
  margin: 0 auto;
  display: block;
}

#contestantSection input,
#contestantSection button {
  /* TODO: Overlay and style with JS */
  /* http://ryanfait.com/resources/custom-checkboxes-and-radio-buttons/ */
}

#contestantSection aside {
  text-align: center;
}

/* footerSection specific */
#footerSection {
  text-align: center;
}

/*#footerSection*/ #notAffiliated,
/*#footerSection*/ #caAddress {
  text-align: right;
  margin-left: -1em;
  margin-right: 2em;
}

#footerSection address {
  font-style: normal;
}

/*#footerSection*/ #contestantConsent,
/*#footerSection*/ #flAddress {
  text-align: left;
}

#footerSection cite {
  font-style: normal;
}

#footerSection a:link {
  text-decoration: none;
}

/* Media queries */
@media (max-width: 470px) {
  /* Obstacle section */
  #obstaclesButtons {
    width: 100%;
    float: none;
  }

  #obstaclesDescription {
    display: none;
  }

  /* TODO: Prizes */

  /* Contestant section */
  #contestantSection #teamColor,
  #contestantSection #gender {
    width: 100%;
    display: block;
    float: none;
  }

  #contestantSection form {
    width: 100%;
  }

  #contestantSection fieldset {
    padding: 0;
  }

  #contestantSection aside {
    display: none;
  }

  /* TODO: Footer */
}